body { 
 margin: 0px;
 background-color: darkgrey;
}
header { 
 padding-left: 140px;
 display: flex; 
 background-color: cadetblue;
 color: white;
}
.navibar {
 background-color: bisque;
}
nav { 
 margin-left: 40px; 
 color: black; 
}
.navspace {  
padding: 100px; 
} 
.middel { 
 display: flex; 
 margin-left: 200px;
 margin-right: 200px;
 background-color: cadetblue;
 padding-top: 50px;
 padding-bottom: 95px;
}
.tekst1 { 
 margin-left: 40px;
 color: white;
}
.noimage { 
 padding-left: 160px;
}